* {
    /* font-family: -apple-system, "Inter", sans-serif;     */
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: grid;
    grid-template-rows: 3.5rem auto;
    grid-template-columns: auto;
    grid-template-areas: 
    'header'
    'main';
    height: 100vh;
    z-index: 0;
}

header-and-menu {
    z-index: 100;
}

/* HEADER */

header {
    grid-area: header;
    width: 100vw;
    height: 3.5rem;
    position: fixed;
    background-color: #2a632bcd;
    color: white;
}

header .header-nav {
    display: flex;
    height: 100%;
    justify-content: left;
    align-items: center;
    padding-left: .5rem;
}

.top-left {
    display: flex;
    gap: .5rem;
    align-items: center;
    height: 3rem;
}

.top-left h1{
    font-weight: 460;
}

.side-menu-icon {
    width: 2rem;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 1.3rem;
}

.side-menu-icon:hover {
    cursor: pointer;
    background-color: #c5d2c516;
    border-radius: 10%;
}

/* SIDE MENU */

.side-menu {
    position: absolute;
    top: 3.5rem;
    height: 100vh;
    width: 10rem;
    background-color: #164317cb;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
    z-index: 100;
}

.side-menu .menu-elements {
    height: 100%;
}

.side-menu ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.side-menu ul li {
    text-align: left;
    padding-left: 1rem;
    padding: .5rem 0 .5rem 1rem;
    margin: 0 .4rem 0 .2rem
}

.side-menu ul li a {
    display: block;
    text-decoration: none;
    color: white;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.side-menu ul li:hover {
    background-color: #164317cb;
    border-radius: 10px;
}

.open{
    transform: translateX(0);
}

/* MAIN */

main {
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
}

.default-no-content {
    text-align: center;
}

.recipe-containers {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 2rem;
    gap: 2rem;
    justify-content: center;
}

.recipe-containers .recipe-thumbnail {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-areas:
    'thumb-img'
    'thumb-title';

    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 15rem;
    width: 20rem;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgb(207, 222, 203);
    background-color: white;
}

.recipe-thumbnail img {
    grid-area: thumb-img;
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}

.recipe-thumbnail p {
    grid-area: thumb-title;
    position: relative;
    width: 100%;
    padding: 0.2rem 1rem;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}

.recipe-thumbnail:hover {
    cursor: pointer;
    transform: scale(.95);
    box-shadow: 1px 1px 10px 10px rgb(189, 224, 179);
    background-color: #f0fff0cb;
    transition: all .1s ease;
}

/* CREATE RECIPE */
.create-recipe-main {
    display: grid;
    grid-template-rows: 15vh auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'page-title'
    'form'; 
    justify-items: center;  
}

main h2 {
    grid-area: page-title;
    justify-content: center;
    align-items: center;
    display: flex;
    border-bottom: 1px solid rgb(213, 213, 213);
    width: 100vw;
}

/* CREATE RECIPE FORM */

.create-recipe-main form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 2rem;
    width: 35vw;
    min-width: 25rem;
    font-size: 20px;
    font-weight: 600;
}

form input {
    height: 2rem;
    padding-left: .2rem;
    border-radius: 10px;
    border: none;
    background-color: #eaeaeacb;
    color: #353635;
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
}

.title-container input {
    width: 100%;
    max-width: 30rem;
}

.ingredient-container {
    max-width: 100%;
}

.ingredient-container div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: .5rem;
    margin-bottom: .5rem;
}

.ingredient-amount {
    max-width: 8rem;
}

.ingredient-name {
    width: 100%;
}

.directions-container {
    max-width: 100%;
}

.directions-container div {
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.directions {
    width: 100%;
    margin-bottom: .5rem;
}

.create-recipe-main form #img-upload {
    display: flex;
    background-color: transparent;
    padding-top: 10px;
    padding-left: 0;
    border-radius: 0;
    cursor: pointer;
}

form .add-button,
.remove-button {
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    background-color: transparent;
    color: rgb(0, 110, 0);
}
.remove-button {
    color: rgb(192, 3, 3);
}

form .add-button:hover,
.remove-button:hover {
    border-radius: .3rem;
    color: rgb(0, 214, 0);
    cursor: pointer;
}
.remove-button:hover {
    color: rgb(247, 77, 77);
}

main form .submit-button {
    align-self: center;
    font-size: 1.25rem;
    font-weight: 600;
    width: 40%;
    height: 2.5rem;
    background-color: rgba(68, 152, 68, 0.841);
    color: white;
    border-radius: 10px;
}

main form .submit-button:hover {
    background-color: rgba(103, 161, 103, 0.841);
    cursor: pointer;
}

/* TAGS */

.tag-container {
    display: flex;
    flex-wrap: wrap;
}

.input-tag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    list-style: none;
    margin: .3rem;
    padding: .3rem;
    border: 2px solid rgb(0, 72, 0);
    border-radius: 20px;
    background-color: green;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    font-style: oblique;
    cursor: default;
}

.input-tag button {
    background-color: transparent;
    color: white;
    border: none;
    font-weight: 600;
    cursor: pointer;
    padding: .1rem;
}

.input-tag button:hover {
    background-color: rgba(7, 165, 7, 0.775);
    border-radius: 20px;
}

.directions-tags {
    flex-direction: column;
    counter-reset: list-counter;
    margin-top: .3rem;
    width: 100%;
}

.directions-tags .input-tag {
    counter-increment: list-counter;
    position: relative;
    width: fit-content;
}

.directions-tags .input-tag::before {
    content: counter(list-counter) ".";
    left: 0;
    font-weight: bold;
}

/* USER LOGIN PAGE */

.login-main {
    display: grid;
    grid-template-rows: 15vh auto;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'page-title'
    'form';
    justify-items: center;
    align-items: center;
}

.login-main form {
    grid-area: form;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 30vw;
    min-width: 25rem;
    align-items: center;
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px 5px rgb(222, 221, 221);
    
}

.login-main form .username, 
.login-main form .password,
.login-main form .name {
    font-size: 1.2rem;
    width: 50%;
}

.login-main form input {
    height: 2.2rem;
    width: 100%;
    margin-top: .3rem;
}



/* RECIPE DETAILS PAGE */

#recipe-details-main {
    display: grid;
    grid-template-columns: 40vw 1fr 10vw;
    grid-template-rows: 20vh 40vh 40vh;
    grid-template-areas: 
        'photo title title'
        'photo ingredients ingredients'
        'instructions instructions edit-delete';
    cursor: default;
}

#recipe-details-main .image-container {
    grid-area: photo;
    display: flex;
    align-items: center;
    justify-content: center;
}

#recipe-details-main .image-container img {
    height: 80%;
    border-radius: 100px;
    box-shadow: 5px 5px 10px;
}


#recipe-details-main .title-container {
    grid-area: title;
    display: flex;
    justify-content: center;
}

#recipe-details-main .ingredients-container {
    grid-area: ingredients;
    overflow: scroll;


}

#recipe-details-main .ingredients-container,
#recipe-details-main .instructions-container {
    font-size: 18px;
    margin-left: 5rem;
    max-height: 100%;
    margin-right: 2rem;

}

.ingredients-container ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.ingredients-container ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    list-style: none;
    margin: .3rem;
    padding: .7rem;
    border-radius: 50px;
    background-color: green;
    color: white;
    font-weight: 300;
    font-size: 1.2rem;
    font-style: oblique;
    cursor: default;
}


#recipe-details-main .instructions-container {
    grid-area: instructions;
}

#recipe-details-main .edit-delete-container {
    grid-area: edit-delete;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.edit-delete-container button {
    border: none;
    text-decoration: none;
    font-weight: 600;
    background-color: green;
    color: white;
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
}

/* EDIT RECIPE PAGE */

.img-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 20% 1fr 1fr;
    grid-template-areas:
    'label label'
    'editImg buttons'
    'editImg buttons'
    ;
}

.img-container label {
    grid-area: label;
}

.img-container .edit-image {
    grid-area: editImg;
    width: 5rem;
    height: 5rem;
}

.img-container .button-section {
    grid-area: buttons;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-left: 1rem;
    gap: .5rem;
}

.button-section button {
    padding: .3rem;
    border-radius: .7rem;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.delete-image-btn {
    background-color: rgb(209, 3, 3);
    color: white;
}

.delete-image-btn:hover {
    background-color: rgb(155, 4, 4);
}





